$athensGray: #F7F8FA;
$coral: #FF7749;
$lightGray: #D5D5D5;
$loblolly: #C3CFD6;
$mayaBlue: #52B3FF;
$mineShaft: #1F1F1F;
$mortar: #555555;
$orange: #CC7D27;
$romeGray: #E7EBEE;
$regalBlue: $regalBlue;
$solitude: #F4F5F8;
$stormGray: #797C80;