$aliceBlue: #E3F2FF;
$athensGray: #F7F8FA;
$coral: #FF7749;
$lavenderBlue: #C7E6FF;
$lightGray: #D5D5D5;
$linkWater: #D9DADF;
$loblolly: #C3CFD6;
$mayaBlue: #52B3FF;
$mineShaft: #1F1F1F;
$mortar: #555555;
$orange: #CC7D27;
$regalBlue: #1F3D69;
$romeGray: #E7EBEE;
$regalBlue: #203C6C;
$shipCove: #7696B1;
$solitude: #F4F5F8;
$stormGray: #797C80;