.footer {
  font-size: 12px;
  color: $mineShaft;
  padding: 40px 0;
  line-height: 26px;

  & > .container {
    display: flex;
  }

  aside {
    flex: 0.5;
    margin: 0;
    padding: 0 0 0 45px;
    font-size: 12px;
    font-weight: bold;
    background: url('../img/un-logo-footer.png') transparent no-repeat left center;
    background-size: 1.667rem 26px;
    line-height: 1.389rem;
  }
  
  nav {
    flex: 1;
    text-align: right;
    a {
      text-decoration: none;
      color: $mineShaft;
      margin-left: 1.111rem;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    & > .container {
      flex-direction: column;
      padding: 0 0.5556rem;
    }
  
    h1 {
      flex: 1;
    }
    
    nav {
      text-align: left;
      a {
        margin: 5px 0 5px 0;
        display: block;
        padding-left: 45px;
      }
    }
  }
}