@import "_colors.scss";
@import "_mixins.scss";
@import "_footer.scss";
@import "_header.scss";
@import "components/btn-switch.scss";
@import "components/file-upload.scss";
@import "components/typeahead.scss";
@import "components/checkbox.scss";
@import "components/frk-select.scss";

html, body {
  background: $solitude;
  font-size: 18px;
  font-family: "Roboto";
}

.content {
  background: $solitude;
}

.relative { position: relative !important; }

.hidden { display: none !important; }

@media (min-width: 481px) {
  .mobile { display: none !important; }
}
@media (max-width: 480px) {
  .desktop { display: none !important; }
  .content {
    & > .container {
      padding: 0;
    }
  }
}

.datepicker {
  width: auto;
  max-width: 154px;
}

.form-control.timepicker {
  width: 80px !important;
}

.custom-control-description {
  display: inline-block;
  margin-top: 3px;
}

.form-control + .input-group-addon {
  background: white;
}

.form-error {
  label {
    span {
      color: $coral;
    }
  }
  .form-control {
    background: #FFF7F5 !important;
    border: 1px solid $coral !important;
  }
}

.with-vertical-margin {
  margin: 10px 0;
}
.orange {
  color: $coral !important;
}

.green {
  color: #50A45F;
}

small.orange {
  &.form-text {
    font-size: 12px !important;
  }
}

.cian {
  background: #F0F8FF;
}

.m-bottom-20 { margin-bottom: 1.111rem; }

[data-toggle="tooltip"] {
  color: #52B3FF;
}

.twitter-typeahead {
  width: 100%;
}

.badges {
  text-transform: uppercase;
}

.badge-required {
  background: $orange;
}
.badge-costs {
  border: 1px solid #6880A9;
  color: #6880A9;
  font-weight: normal;
}

.badge-primary-outline {
  padding: 5px;
  text-transform: uppercase;

  background: white;
  color: #203C6C;
  letter-spacing: 0;
  margin-left: 0.5556rem;
  border: 1px solid #203C6C;
}

.form-group {
  select {
    font-size: 16px !important;
    color: #555555 !important;
    letter-spacing: 0 !important;

    background: #FFFFFF !important;
    border: 1px solid $loblolly !important;
    border-radius: 4px !important;
  }
}

form.horizontal {
  padding-bottom: 30px;
  header {
    h4 {
      font-weight: bold;
      font-size: 0.8889rem;
      color: $mineShaft;
      letter-spacing: 0.3px;
    }
  }
  label {
    font-size: 0.7778rem;
    color: #555555;
  }
  textarea,
  input[type=text] {
    font-size: 0.7778rem;
  }
}

.clearfix {
  @include clearfix();
}

.flex-center {
  justify-content: center;
}