.header {

  .small {
    background: #F2F2F2;
    line-height: 2.556rem;
    border-bottom: 4px solid $regalBlue;

    a {
      color: #4D4D4D;
      font-size: 0.77rem;
      text-decoration: none;
      strong {
        margin-right: 6px;
      }
    }
  }
  
  nav {
    height: 210px;
    background: #238DE1;
    
    .container {
      position: relative;
    }

    h3 {
      position: relative;
      top: 51px;
      margin: 0;
      padding-left: 60px;
      background: url('../img/un-logo.png') transparent no-repeat left center;
      background-size: 50px 43px;

      font-weight: normal;
      // font-size: 1.833rem;
      text-transform: uppercase;
      color: white;
      span.off {
        opacity: .5;
      }
    }
  }

  &--admin {
    nav {
      height: 145px;
    }
  }
}

.header__nav--desktop {
  position: absolute;
  right: 17px;
  top: 0.5556rem;

  list-style: none;
  display: flex;
  li {
    margin-left: 2.222rem;
    a {
      color: white;
      text-decoration: none;
      font-size: 0.7778rem;
      strong {
        margin-right: 6px;
      }
    }
  }

  .logout-tooltip {
    display: none;
    position: absolute;
    background: $regalBlue;
    padding: 0.5556rem 45px;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
  }
  .logout-tooltip:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $regalBlue;
    border-width: 5px;
    margin-left: -5px;
  }

  .menu-username:focus + .logout-tooltip {
    display: block; 
  }

  .dropdown {
    position: absolute;
    z-index: 200;
    right: -4px;
    top: 100%;
    margin-top: 0.5556rem;
    background: $regalBlue;
    padding: 1.111rem 52px;
    text-align: center;

    a {
      line-height: 2rem;
      display: block;
      letter-spacing: 0.47
    }
  }
  .dropdown:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(31, 61, 105, 0);
    border-bottom-color: $regalBlue;
    border-width: 5px;
    margin-left: -5px;
  }

  .dropdown--toggle:hover .dropdown {
    display: block;
  }
}

.header__nav--mobile {
  position: fixed;
  z-index: 1000;
  top: 110px;
  left: 0;
  width: 100%;
  height: 100%;
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }
  .logo {
    position: absolute;
    z-index: 1020;
    bottom: 1.667rem;
    right: 1.667rem;
  }
  ul {
    position: relative;
    z-index: 1010;
    box-shadow: 0 5px 1.111rem rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0.5556rem 1.667rem 80px;
    list-style: none;
    color: white;
    position: relative;
    background: $regalBlue;
    li {
      border-bottom: 1px solid #15243A;
      &:last-child { border-bottom: none; }
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 0.7778rem;
      display: block;
      line-height: 2.778rem;
      letter-spacing: 0.5;
      strong {
        margin-right: 0.2778rem;
      }
    }
    .dropdown {
      display: flex;
      padding-left: 1.111rem;
      a {
        line-height: 1.667rem;
        opacity: 0.6;
        margin-right: 1.667rem;
      }
    }
  }
  ul:after {
    bottom: 100%;
    right: 28px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(31, 61, 105, 0);
    border-bottom-color: $regalBlue;
    border-width: 0.5556rem;
    margin-left: -10px;
  }
}

.header__nav__toggle {
  position: absolute;
  top: 19px;
  right: 19px;
}

@media (max-width: 480px) {
  .header {
    .small {
      padding-left: 0.8333rem;
    }
    nav {
      height: 200px;
      padding: 0 0.5556rem;
      h3 {
        top: 65px;
        font-size: 1rem;
        line-height: 2rem;
        padding-left: 2.778rem;
        background-size: 41px 35px;
      }
    }
  }
}