.header {

  .small {
    background: #F2F2F2;
    line-height: 46px;
    border-bottom: 4px solid #1F3D69;

    a {
      color: #4D4D4D;
      font-size: 0.77rem;
      text-decoration: none;
      strong {
        margin-right: 6px;
      }
    }
  }
  
  nav {
    height: 200px;
    background: #238DE1;
    
    .container {
      position: relative;
    }

    h2 {
      position: relative;
      top: 41px;
      margin: 0;
      padding-left: 60px;
      background: url('../img/un-logo.png') transparent no-repeat left center;
      background-size: 50px 43px;

      font-weight: normal;
      font-size: 1.833rem;
      text-transform: uppercase;
      color: white;
    }
  }
}

.header__nav--desktop {
  position: absolute;
  right: 5px;
  top: 0px;

  list-style: none;
  display: flex;
  li {
    margin-left: 40px;
    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      strong {
        margin-right: 6px;
      }
    }
  }

  .dropdown {
    position: absolute;
    z-index: 200;
    right: -4px;
    top: 100%;
    margin-top: 10px;
    background: #1F3D69;
    padding: 20px 52px;
    text-align: center;

    a {
      line-height: 36px;
      display: block;
      letter-spacing: 0.47
    }
  }
  .dropdown:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(31, 61, 105, 0);
    border-bottom-color: #1F3D69;
    border-width: 5px;
    margin-left: -5px;
  }

  .dropdown--toggle:hover .dropdown {
    display: block;
  }
}

.header__nav--mobile {
  position: fixed;
  z-index: 1000;
  top: 110px;
  left: 0;
  width: 100%;
  height: 100%;
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }
  .logo {
    position: absolute;
    z-index: 1020;
    bottom: 30px;
    right: 30px;
  }
  ul {
    position: relative;
    z-index: 1010;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px 30px 80px;
    list-style: none;
    color: white;
    position: relative;
    background: #1F3D69;
    li {
      border-bottom: 1px solid #15243A;
      &:last-child { border-bottom: none; }
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      display: block;
      line-height: 50px;
      letter-spacing: 0.5;
      strong {
        margin-right: 5px;
      }
    }
    .dropdown {
      display: flex;
      padding-left: 20px;
      a {
        line-height: 30px;
        opacity: 0.6;
        margin-right: 30px;
      }
    }
  }
  ul:after {
    bottom: 100%;
    right: 28px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(31, 61, 105, 0);
    border-bottom-color: #1F3D69;
    border-width: 10px;
    margin-left: -10px;
  }
}

.header__nav__toggle {
  position: absolute;
  top: 19px;
  right: 19px;
}

@media (max-width: 480px) {
  .header {
    .small {
      padding-left: 15px;
    }
    nav {
      height: 200px;
      padding: 0 10px;
      h2 {
        top: 65px;
        font-size: 1rem;
        line-height: 2rem;
        padding-left: 50px;
        background-size: 41px 35px;
      }
    }
  }
}