.header {

  .small {
    background: #F2F2F2;
    line-height: 46px;
    border-bottom: 4px solid #1F3D69;

    a {
      color: #4D4D4D;
      font-size: 0.77rem;
      text-decoration: none;
      i {
        margin-right: 6px;
      }
    }
  }
  
  nav {
    height: 200px;
    background: #238DE1;
    
    .container {
      position: relative;
    }

    h1 {
      position: relative;
      top: 41px;
      margin: 0;
      padding-left: 60px;
      background: url('../img/un-logo.png') transparent no-repeat left center;
      background-size: 50px 43px;

      font-weight: normal;
      font-size: 1.833rem;
      text-transform: uppercase;
      color: white;
    }

    ul {
      position: absolute;
      right: 5px;
      top: 0px;

      list-style: none;
      display: flex;
      li {
        margin-left: 40px;
        a {
          color: white;
          text-decoration: none;
          font-size: 14px;
          i {
            margin-right: 6px;
          }
        }
      }
    }
  }
}