.admin__sidebar {
  ul {
    list-style: none;
    padding: 0;
  }
  p,
  label {
    font-size: 14px;
    color: #555555;
    letter-spacing: 0;
    margin: 0;
  }
  h2 {
    font-weight: bold;
    font-size: 20px;
    color: #CC7D27;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  section {
    padding-top: 40px;
  }

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  
  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    background: #F7F8FA;
    border-radius: 2px;
    border: 1px solid #C3CFD6;
    content: '';
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 16px;
  }
  [type="checkbox"]:checked + label:after {
    background: #52B3FF;
    color: white;
    content: "\f00c";
    font-family: FontAwesome;
    border-radius: 2px;
    border: 1px solid #52B3FF;
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 16px;
    font-size: 10px;
    text-align: center;
  }
}

.admin__filter {
  background: #C7E6FF;
  font-size: 16px;
  color: #1F1F1F;
  letter-spacing: 0.3px;
  padding: 30px 40px;
  .col-md-4 {
    margin-bottom: 20px;
  }
  a {
    display: inline-block;
    margin-left: 5px;
    i {
      color: #658CAB;
    }
  }
  .form-control {
    width: calc(100% - 25px);
    display: inline-block;
  }
}