.admin__sidebar {
  ul {
    list-style: none;
    padding: 0;
  }
  p,
  label {
    font-size: 0.7778rem;
    color: $mortar;
    letter-spacing: 0;
    margin: 0;
  }
  h6 {
    font-weight: bold;
    color: $orange;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0 0 0.5556rem;
  }
  section {
    padding-top: 2.222rem;
  }

}

.admin__filter {
  background: $lavenderBlue;
  font-size: 0.8889rem;
  color: $mineShaft;
  letter-spacing: 0.3px;
  padding: 1.667rem 2.2222rem 0.5556rem;
  .col-md-4 {
    margin-bottom: 1.111rem;
  }
  a {
    display: inline-block;
    margin-left: 5px;
    i {
      color: #658CAB;
    }
  }
  .form-control {
    width: calc(100% - 1.3889rem);
    display: inline-block;
  }
}

.admin__meetings__pagination {
  padding-top: 1.667rem;
  .btn {
    color: $regalBlue;
    border-color: $regalBlue;
    font-size: 0.7778rem;
    color: $regalBlue;
    letter-spacing: 0;
  }
  p {
    font-size: 0.7778rem;
    color: $mortar;
    letter-spacing: 0;
    line-height: 2.222rem;
  }
}

.admin__meetings__item {
  margin: 0.5556rem 0.5556rem 1.667rem;
  border: 1px solid $loblolly;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  border-radius: 4px;
  header {
    display: block;
    border-bottom: 1px solid $loblolly;
    padding: 0 0.5556rem;

    h6, .request_no {
      line-height: 3.0556rem;
      margin: 0;      
    }
    h6 {
      font-weight: bold;
      color: $regalBlue;
      letter-spacing: 0.38px;
    }
    .request_no {
      margin: 0;
      font-size: 0.8889rem;
      color: $mortar;
      letter-spacing: 0.3px;
    }
  }
  section {
    padding: 0.8333rem;
    p {
      font-size: 0.8889rem;
      color: $mortar;
      letter-spacing: 0;
    }
  }
}