.request__form {
  padding: 2.22rem;

  h6 {
    margin: 0 0 1.111rem;
    font-weight: bold;
    text-transform: uppercase;
    i {
      margin-right: 0.2778rem;
    }
  }
  p.subheader {
    color: $mineShaft;
    display: block;
    font-size: 0.8889rem;
    letter-spacing: 0.0.1667rem;
    margin: 0 0 1.111rem;
  }
}

.request__form__input,
.form-group {
  margin-bottom: 1.111rem;
  & > label {
    color: $mineShaft;
    display: block;
    font-size: 0.8889rem;
    letter-spacing: 0.0.1667rem;
    margin-bottom: 0.5556rem;
    span.coral {
      color: $coral;
    }
  }
  input[type=text],
  textarea,
  select {
    background: $athensGray;
    border-radius: 0.2222rem;
    border: 1px solid $loblolly;
    box-sizing: border-box;
    display: block;
    font-size: 0.8889rem;
    width: 100%;
    padding: 0.6111rem 0.5556rem;
  }

  .form-control + .custom-controls {
    margin-top: 0.2778rem;
    .custom-control-description {
      display: inline-block;
      margin-top: 0.1667rem;
    }
  }

  small {
    font-size: 0.6667rem;
    color: $mortar;
    letter-spacing: 0;
  }
}

.request__form__tabs {
  border:0.1111rem solid $romeGray;
  border-radius: 0.2222rem;
  margin: 3.333rem 0 1.667rem;
  nav {
    position: relative;
    top: -41px;
    left: -2px;

    a {
      display: inline-block;
      border:0.1111rem solid $romeGray;
      border-radius: 0.2222rem;
      width: 3.389rem;
      line-height: 2.056rem;
      text-decoration: none;
      text-align: center;

      font-size: 0.8889rem;
      color: $stormGray;
      letter-spacing: 0.2px;
      background: $romeGray;

      &.active {
        background: white;
        border-bottom:0.1111rem solid white;
        opacity: 1;
      }
    }
  }
  & > div {
    padding: 1.111rem;
    margin-top: -50px;
  }
}

.request__form__div {
  height: 6px;
  background: $loblolly;
  margin: 1.111rem -20px 40px;
}

.custom-radio,
.custom-checkbox {
  font-size: 0.7778rem;
  cursor: pointer;
  display: inline-block;
  margin: 0.1667rem 0.5556rem 0 0;
}

@media (max-width: 480px) {
  .request__form {
    padding: 1.111rem;
    h1 {
      font-size: 0.7778rem;
    }
    h4 {
      font-size: 0.7778rem;
    }
  }
  .request__form__div {
   margin: 0px -20px 1.111rem;
  }
}