.edit-meeting {
  background: #FFFFFF;
  border: 1px solid $loblolly;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  border-radius: 4px;

  header {
    border-bottom: 1px solid $loblolly;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    border-radius: 4px 4px 0 0;
    padding: 9px 9px 9px 16px;
    h1 {
      font-size: 0.8889rem;
      color: $mineShaft;
      letter-spacing: 0.3px;
      margin: 0;
      line-height: 38px;
    }
  }
  & > div {
    background: white;
    padding: 16px;
  }
}

.edit-meeting__checkbox-list {
  font-size: 0.7778rem;
  color: #555555;
  letter-spacing: 0;
}

.edit-request__timeline {
  font-size: 0.7778rem;
  color: $mineShaft;
  letter-spacing: 0;
  line-height: 36px;
  list-style: none;

  i.fa-circle {
    margin-right: 0.5556rem;
    color: #D5D5D5;
    position: relative;
    &.active {
      color: #52B3FF;
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 36px;
        background-color: #52B3FF;
        left: 5px;
        top: 2px;
      }
    }
  }
}