.edit-meeting {
  background: white;
  border: 1px solid $loblolly;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  border-radius: 4px;

  header {
    border-bottom: 1px solid $loblolly;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    border-radius: 4px 4px 0 0;
    padding: 9px 9px 9px 16px;
    h6 {
      color: $mineShaft;
      letter-spacing: 0.3px;
      margin: 0;
      line-height: 2.111rem;
    }
  }
  & > div {
    background: white;
    padding: 0.8889rem;
  }
}

.edit-meeting__checkbox-list {
  font-size: 0.7778rem;
  color: $mortar;
  letter-spacing: 0;
}

.edit-request__timeline {
  font-size: 0.7778rem;
  color: $mineShaft;
  letter-spacing: 0;
  line-height: 2rem;
  list-style: none;

  i.fa-circle {
    margin-right: 0.5556rem;
    color: $lightGray;
    position: relative;
    &.active {
      color: $mayaBlue;
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 2rem;
        background-color: $mayaBlue;
        left: 5px;
        top: 2px;
      }
    }
  }
}