@import "_global.scss";

.home__tabs {
  background: #C7E6FF;
  position: relative;
  z-index: 100;

  nav {
    position: relative;
    top: -74px;
    display: flex;

    a {
      background: #1871B7;
      color: white;
      display: block;
      font-weight: bold;
      line-height: 74px;
      opacity: 0.5;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 240px;
      
      @include border-top-radius(20px);

      &.active {
        color: #1F3D69;
        background: #C7E6FF;
        opacity: 1;
      }
    }
  }
}

.content__wrapper {
  position: relative;
  z-index: 10;
  background: white;
  min-height: 500px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}