.my-request__service-actions {
  position: absolute;
  right: 2.778rem;
  top: 0;
  height: 2.556rem;
  display: flex;
  align-items: center;
  .comments {
    color: $regalBlue;
    font-size: 1.222rem;
    margin: 0 1.222rem 0 0;
    display: inline-block;
    height: 1.222rem;
    i {
      display: block;
    }
  }
  .btn-outline-primary {
    border-color: $regalBlue;
    color: $regalBlue;
    cursor: pointer;
    font-size: 0.7778rem;
    letter-spacing: 0;
    line-height: 1rem;
    padding: 5px 0.5556rem;
    text-transform: uppercase;
    display: inline-block;
    height: 1.667rem;
  }
}