.myrequests {
  .form-search-icon {
    .form-control {
      border-right: none;
    }
    .input-group-addon {
      background: #F7F8FA;
    }
  }
}

.myrequests__filter {
  padding: 30px 30px 20px;
}