.na-confirmation {
  text-align: center;
  padding: 50px 0;
  h1 {
    color: $mineShaft;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.32px;
    text-transform: uppercase;
  }
  h2 {
    background: #E3F2FF;
    color: #203C6C;
    display: inline-block;
    font-size: 48px;
    letter-spacing: 0;
    margin: 20px 0;
    padding: 5px 20px;
    text-transform: uppercase;
  }
  p {
    font-size: 0.7778rem;
    color: $mineShaft;
    letter-spacing: 0.26px;
    a {
      font-weight: bold;
    }
  }
}

.na-modal {
  
  &--demo {
    display: block !important; // PLEASE REMOVE THIS WHEN USING MODAL
    position: relative !important; // PLEASE REMOVE THIS WHEN USING MODAL
  }

  .modal-content {
    background: $solitude;
    border: 1px solid #D9DADF;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.03);
    border-radius: 4px;
  }
  .modal-header,
  .modal-footer {
    border: none;
  }

  .modal-title {
    font-weight: bold;
  }
  .modal-content,
  .modal-title {
    font-size: 0.7778rem;
    color: $mineShaft;
    letter-spacing: 0;
    line-height: 21px;
  }

  .btn {
    font-size: 0.7778rem;
    letter-spacing: 0;
    text-transform: uppercase;
    &.btn-outline-secondary {
      border-color: $mayaBlue;
      color: $mayaBlue;
    }
    &.btn-primary {
      border-color: $mayaBlue;
      background-color: $mayaBlue;
    }
  }
}

.na-alert {
  z-index: 100;
  position: absolute;
  right: 1.111rem;
  padding: 20px 44px;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.03);
  border-radius: 4px;
  max-width: 290px;
  top: 200px;
  p {
    font-size: 0.7778rem;
    letter-spacing: 0;
    margin: 0;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  a.close {
    position: absolute;
    font-size: 0.7778rem;
    top: 0.5556rem;
    right: 0.5556rem;
  }
  & > .fa {
    position: absolute;
    top: 22px;
    left: 0.8333rem;
  }
}

.na-alert-success {
  color: white;
  background: #5DAF70;
}

.na-alert-warning {
  top: 300px;  // PLEASE REMOVE THIS WHEN USING MODAL 
  background: #FFE749;
  color: $mineShaft;
  a {
    color: $mineShaft;
  }
}