.timeblock {
  border: 1px solid #C3CFD6;
  border-radius: 4px;
  padding: 5px 20px;
  header {
    padding: 0 20px 10px;
    margin: 0 -20px 10px;
    border-bottom: 1px solid #C3CFD6;
  }
}

.room-size {
  border: 1px solid #C3CFD6;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  min-height: 80px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
  p {
    font-size: 14px;
    letter-spacing: 0.26px;
    color: #555;
    margin: 0;
  }
  &:hover {
    background: #F0F8FF;
    border: 2px solid #52B3FF;
  }
  &.active {
    background: #52B3FF;
    color: white;
    p {
      color: white;
    }
  }
}

.content-off {
  margin: 10px -40px 0;
  padding: 40px;
}

.toggle-area {
  background: white;
  border: 1px solid #C3CFD6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  header {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #C3CFD6;
    h2 {
      color: #1F1F1F;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      letter-spacing: 0.3px;
      margin-left: 20px;
    }
    a {
      display: block;
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 14px;
    }
  }
  section {
    padding: 10px;
  }
  .file-upload {
    margin-top: 30px;
  }
}