.request__services__confirmation {
  h1.orange {
    font-weight: bold;
    font-size: 18px;
    color: #FF7749;
    letter-spacing: 0.32px;
  }
  .list-actions {
    .btn-outline-primary,
    .btn-primary {
      font-size: 16px;
      letter-spacing: 0;
      text-transform: uppercase;
      padding: 15px 20px;
    } 
  }
  .btn-primary {
    border-color: #52B3FF;
    background: #52B3FF;
  }
  .btn-outline-primary {
    border-color: #52B3FF;
    color: #52B3FF;
  }
  .list-headers {
    border-top: 3px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;

    font-size: 16px;
    color: #555555;
    letter-spacing: 0.3px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .list-item {
    border-bottom: 1px solid #D5D5D5;
    padding-bottom: 10px;
    margin-bottom: 30px;
    h2 {
      font-size: 18px;
      color: #1F1F1F;
      letter-spacing: 0.34px;
    }
    p {
      font-size: 14px;
      color: #1F1F1F;
      letter-spacing: 0.26px;
    }
    .badge {
      background: #CC7D27;
      text-transform: uppercase;
      padding: 5px;
      display: inline-block;
    }
    .list-item-actions {
      .btn {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}