.request__form {
  padding: 40px;

  h1 {
    margin: 0 0 20px;
    color: #CC7D27;
    font-size: 20px;
    text-transform: uppercase;
    i {
      margin-right: 5px;
    }
  }
  h4 {
    color: #1F1F1F;
    display: block;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin: 0 0 20px;
  }
}

.request__form__input,
.form-group {
  margin-bottom: 20px;
  & > label {
    color: #1F1F1F;
    display: block;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    span {
      color: #FF7749;
    }
    i {
      color: #52B3FF;
    }
  }
  input[type=text],
  textarea,
  select {
    background: #F7F8FA;
    border-radius: 4px;
    border: 1px solid #C3CFD6;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 11px 10px;
  }

  .form-control + .custom-controls {
    margin-top: 5px;
    .custom-control-description {
      display: inline-block;
      margin-top: 3px;
    }
  }

  small {
    font-size: 12px;
    color: #555555;
    letter-spacing: 0;
  }
}

.request__form__tabs {
  border: 2px solid #E7EBEE;
  border-radius: 4px;
  margin: 60px 0 30px;
  nav {
    position: relative;
    top: -41px;
    left: -2px;

    a {
      display: inline-block;
      border: 2px solid #E7EBEE;
      border-radius: 4px;
      width: 61px;
      line-height: 37px;
      text-decoration: none;
      text-align: center;

      font-size: 16px;
      color: #797C80;
      letter-spacing: 0.2px;
      background: #E8EBF0;

      &.active {
        background: white;
        border-bottom: 2px solid white;
        opacity: 1;
      }
    }
  }
  & > div {
    padding: 20px;
    margin-top: -50px;
  }
}

.request__form__div {
  height: 6px;
  background: #C3CFD6;
  margin: 20px -20px 40px;
}

.custom-radio,
.custom-checkbox {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin: 3px 10px 0 0;
}

@media (max-width: 480px) {
  .request__form {
    padding: 20px;
    h1 {
      font-size: 14px;
    }
    h4 {
      font-size: 14px;
    }
  }
  .request__form__div {
   margin: 0px -20px 20px;
  }
}