.timeblock {
  border: 1px solid #C3CFD6;
  border-radius: 4px;
  padding: 5px 20px;
  header {
    padding: 0 20px 10px;
    margin: 0 -20px 10px;
    border-bottom: 1px solid #C3CFD6;
  }
}

.room-size {
  border: 1px solid #C3CFD6;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  min-height: 80px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
  p {
    font-size: 14px;
    letter-spacing: 0.26px;
    color: #555;
    margin: 0;
  }
  &:hover {
    background: #F0F8FF;
    border: 2px solid #52B3FF;
  }
  &.active {
    background: #52B3FF;
    color: white;
    p {
      color: white;
    }
  }
}

.content-off {
  margin: 10px -40px 0;
  padding: 40px;
}

.toggle-area {
  background: white;
  border: 1px solid #C3CFD6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 10px;

  header {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #C3CFD6;
    h2 {
      color: #1F1F1F;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      letter-spacing: 0.3px;
      margin-left: 20px;
    }
    a {
      display: block;
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 14px;
    }
  }
  section {
    padding: 10px;
  }
  .file-upload {
    margin-top: 30px;
  }
  .badges {
    position: absolute;
    top: 10px;
    right: 50px;
    text-transform: uppercase;
    .badge-required {
      background: #FF7749;
    }
    .badge-costs {
      border: 1px solid #6880A9;
      color: #6880A9;
      font-weight: normal;
    }
  }
}

.checkbox-list {
  margin-bottom: 20px;
  label {
    display: inline-block;
    width: 18%;
  }
}

@media (max-width: 480px) {
  .timeblock {
    margin-bottom: 20px;
  }
  small {
    font-size: 10px !important;
  }

  .room-size {
    margin-bottom: 10px;
    span, p {
      font-size: 14px;
      line-height: 19px;
    }
  }
  .toggle-area {
    
    header {
      padding-left: 80px;

      .btn-switch {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &.with-badge {
        padding-bottom: 35px;
        .btn-switch {
          top: 24px;
        }
      }
      h2 {
        font-size: 14px;
        margin: 0 0 0 15px;
        max-width: calc(100% - 120px);
      }
    }
    .badges {
      bottom: 10px;
      top: auto;
      right: auto;
    }
  }
  .checkbox-list {
    margin-bottom: 20px;
    label {
      display: block;
      width: 100%;
    }
  }
}