.timeblock {
  border: 1px solid $loblolly;
  border-radius: 4px;
  padding: 5px 1.111rem;
  header {
    padding: 0 1.111rem 0.5556rem;
    margin: 0 -20px 0.5556rem;
    border-bottom: 1px solid $loblolly;
  }
}

.room-size {
  border: 1px solid $loblolly;
  border-radius: 4px;
  padding: 0.5556rem;
  text-align: center;
  cursor: pointer;
  min-height: 80px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
  p {
    font-size: 0.7778rem;
    letter-spacing: 0.26px;
    color: #555;
    margin: 0;
  }
  &:hover {
    background: #F0F8FF;
    border: 2px solid $mayaBlue;
  }
  &.active {
    background: $mayaBlue;
    color: white;
    p {
      color: white;
    }
  }
}

.content-off {
  margin: 0.5556rem -2.222rem 0;
  padding: 2.222rem;
}



.checkbox-list {
  margin-bottom: 1.111rem;
  label {
    display: inline-block;
    width: 18%;
  }
}

@media (max-width: 480px) {
  .timeblock {
    margin-bottom: 1.111rem;
  }
  small {
    font-size: 0.5556rem !important;
  }

  .room-size {
    margin-bottom: 0.5556rem;
    span, p {
      font-size: 0.7778rem;
      line-height: 19px;
    }
  }
  
  .checkbox-list {
    margin-bottom: 1.111rem;
    label {
      display: block;
      width: 100%;
    }
  }
}