@import "_global.scss";

// screen dependencies
@import "basic_information.scss";
@import "request_services.scss";
@import "request_services__confirmation.scss";
@import "review_submit.scss";
@import "my_requests.scss";
@import "my_request.scss";
@import "notifications_alerts.scss";
@import "contacts.scss";
@import "admin.scss";
@import "edit_request.scss";

.toggle-area {
  background: white;
  border: 1px solid $loblolly;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 0.5556rem;

  header {
    padding: 0.5556rem;
    position: relative;
    border-bottom: 1px solid $loblolly;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    h2 {
      color: $mineShaft;
      display: inline-block;
      font-family: "Roboto";
      font-size: 0.8889rem;
      letter-spacing: 0.3px;
      margin-left: 1.111rem;
    }
    a[data-elm="toggle"] {
      color: $mineShaft;
      display: block;
      position: absolute;
      right: 1.111rem;
      top: 11px;
      font-size: 0.7778rem;
    }
  }
  section {
    padding: 0.5556rem;
  }
  .file-upload {
    margin-top: 1.667rem;
  }
  .badges {
    position: absolute;
    top: 0.5556rem;
    right: 2.778rem;
  }
}

.toggle-area--blue {
  & > header {
    h2 {
      color: $regalBlue;
      font-size: 1.111rem;
      font-weight: bold;
      letter-spacing: 0.38px;
      margin: 0 0 0 5px;
      text-transform: uppercase;
    }
  }
  & > section {
    padding: 1.111rem;
    background: #F7F7F7;
  }
}

.toggle-area--no-icon {
  & > header {
    h2 {
      margin: 0 0 0 5px;
    }
    a {
      top: 0.6111rem;
    }
  }
}

.toggle-area--switch {
  & > header {
    a {
      top: 0.8333rem !important;
    }
  }
}

.request__tabs {
  background: $lavenderBlue;
  position: relative;
  z-index: 100;

  nav {
    position: absolute;
    top: -4.063rem;
    display: flex;

    a {
      background: #1871B7;
      color: white;
      display: block;
      font-weight: bold;
      letter-spacing: 0.32px;
      line-height: 4.063rem;
      opacity: 0.5;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 240px;
      
      @include border-top-radius(1.111rem);

      &.active {
        color: $regalBlue;
        background: $lavenderBlue;
        opacity: 1;
      }
    }
  }
}

.request__wizard {
  padding: 2.778rem 6.667rem;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    flex: 1;
    color: white;
    position: relative;
    text-align: center;
    color: $shipCove;
    font-size: 0.8889rem;
    span {
      margin: 0 auto 0.8333rem;
      display: block;
      width: 2.889rem;
      height: 2.889rem;
      text-align: center;
      line-height: 2.889rem;
      border-radius: 100%;
      color: $shipCove;
      background: $aliceBlue;
    }
    &.active,
    &.done {
      text-transform: uppercase;
      font-weight: bold;
      color: $regalBlue;
      span {
        color: white;
        background: $regalBlue;
      }
      &::before {
        background: $regalBlue;
      }
    }
    &.active::before {
      background: linear-gradient(45deg, $regalBlue, $regalBlue, $aliceBlue, $aliceBlue);
    }
  }
  
  li::before{
    content: '';
    position: absolute;
    top: 1.389rem;
    left: 50%;
    width: 100%;
    height: 4px;
    background: $aliceBlue;
    z-index: -1;
  }

  li:last-child::before {
    display: none;
  }
}

.content__wrapper {
  background: white;
  box-shadow: 0px 3px 1.111rem rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;
}

.request__go-next {
  display: inline-block;
  margin: 0 auto;
  padding: 0.8333rem 1.667rem;
  background: $mayaBlue;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 0.8889rem;
  &:hover {
    background: #40A2EF;
  }
  &.outline {
    border: 1px solid $mayaBlue;
    background: white;
    color: $mayaBlue;
  }
  &.right {
    float: right;
    margin-left: 1.111rem;
  }
}

.request__footer__buttons {
  max-width: 560px;
  margin: 0 auto;
  button {
    margin: 0 0.5556rem;
  }
}

.request__footer {
  padding-bottom: 2.778rem;
}

.request__wizard__check {
  position: absolute;
  display: block;
  left: calc(50% + 0.5556rem);
  top: -0.5556rem;
  width: 1.4444rem;
  height: 1.5rem;
}

@media (max-width: 480px) {
  .request__tabs {
    nav {
      width: 100%;
      top: -3rem;
      a {
        font-size: 0.7778rem;
        width: 50%;
        line-height: 3rem;
      }
    }
  } 
  .request__wizard {
    padding: 1.111rem 0px;
    li {
      font-size: 0.6667rem;
    }
  }
  .toggle-area {
    
    header {
      padding-left: 4.4444rem;

      .btn-switch {
        position: absolute;
        left: 0.5556rem;
        top: 50%;
        transform: translateY(-50%);
      }

      &.with-badge {
        padding-bottom: 35px;
        .btn-switch {
          top: 1.333rem;
        }
      }
      h2 {
        font-size: 0.7778rem;
        margin: 0 0 0 0.8333rem;
        max-width: calc(100% - 11.111rem);
      }
    }
    .badges {
      bottom: 0.5556rem;
      top: auto;
      right: auto;
    }
  }

  .toggle-area--no-icon,
  .toggle-area--blue {
    header {
      padding: 0.5556rem;
      h2 {
        margin: 0 0 0 5px;
      }
    }
  }
}
