.request__services__confirmation {
  h1.coral {
    font-weight: bold;
    font-size: 1rem;
    color: $coral;
    letter-spacing: 0.32px;
  }
  .list-actions {
    text-align: right;
    .btn-outline-primary,
    .btn-primary {
      font-size: 0.8889rem;
      letter-spacing: 0;
      text-transform: uppercase;
      padding: 0.8333rem 1.111rem;
    } 
  }
  .btn-primary {
    border-color: $mayaBlue;
    background: $mayaBlue;
  }
  .btn-outline-primary {
    border-color: $mayaBlue;
    color: $mayaBlue;
  }
  .list-headers {
    border-top: 3px solid $lightGray;
    border-bottom: 1px solid $lightGray;

    font-size: 0.8889rem;
    color: $mortar;
    letter-spacing: 0.3px;

    padding-top: 0.5556rem;
    padding-bottom: 0.5556rem;
    margin-bottom: 1.111rem;
  }

  .list-item {
    border-bottom: 1px solid $lightGray;
    padding-bottom: 0.5556rem;
    margin-bottom: 1.667rem;
    h2 {
      font-size: 1rem;
      color: $mineShaft;
      letter-spacing: 0.34px;
    }
    p {
      font-size: 0.7778rem;
      color: $mineShaft;
      letter-spacing: 0.26px;
    }
    .badge {
      background: $orange;
      text-transform: uppercase;
      padding: 5px;
      display: inline-block;
    }
    .list-item-actions {
      .btn {
        width: 100%;
        margin-bottom: 0.5556rem;
        text-transform: uppercase;
        font-size: 0.7778rem;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 480px) {
  .request__services__confirmation {
    h1.coral {
      font-size: 0.7778rem;
      border-bottom: 3px solid $lightGray;
      padding-bottom: 1.111rem;
    }
    h4 {
      font-size: 0.8889rem;
      color: $mortar;
      letter-spacing: 0.3px;
    }
    .list-item {
      h2 {
        font-size: 0.8889rem;
        font-weight: bold;
      }
      .list-item-actions {
        .btn {
          width: auto;
          margin-bottom: 0.5556rem;
        }
      }
    }
    .list-actions {
      text-align: center;
      .btn {
        font-size: 0.7778rem;
        padding: 0.8333rem;
      }
    }
  }
}