.request__form--review-submit {
  font-size: 0.8889rem;
  h4 {
    color: $mineShaft;
    font-size: 0.8889rem;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  .room-reservation-info {
    margin-bottom: 30px;
  }
  .table-striped {
    border-top: 3px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
  }
}