.checkbox:not(:checked),
.checkbox:checked {
  position: absolute;
  left: -9999px;
}
.checkbox:not(:checked) + label,
.checkbox:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
.checkbox:not(:checked) + label:before,
.checkbox:checked + label:before {
  background: $athensGray;
  border-radius: 2px;
  border: 1px solid $loblolly;
  content: '';
  display: block;
  height: 0.8889rem;
  left: 0;
  position: absolute;
  top: 3px;
  width: 0.8889rem;
}
.checkbox:checked + label:after {
  background: $mayaBlue;
  color: white;
  content: "\f00c";
  font-family: FontAwesome;
  border-radius: 2px;
  border: 1px solid $mayaBlue;
  display: block;
  height: 0.8889rem;
  left: 0;
  position: absolute;
  top: 3px;
  width: 0.8889rem;
  font-size: 0.5556rem;
  text-align: center;
}