.file-upload {
  input[type=file] {
    display: none;
  }
  .list {
    p:first-child {
      color: $mineShaft;
      font-family: "Roboto";
      letter-spacing: 0.3px;
    }
    b {
      color: #0168E7;
      font-size: 0.7778rem;
      letter-spacing: 0;
    }
    button {
      display: inline-block;
      font-size: 0.7778rem;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1rem;
      margin-left: 75px;
      text-transform: uppercase;
    }
  }
  .btn-add {
    border: 1px solid $mayaBlue;
    background: white;
    font-size: 0.7778rem;
    color: $mayaBlue;
    letter-spacing: 0;
  }
}
