.file-upload {
  input[type=file] {
    display: none;
  }
  .list {
    h2 {
      color: #1F1F1F;
      font-family: "Roboto";
      font-size: 16px;
      letter-spacing: 0.3px;
    }
    b {
      color: #0168E7;
      font-size: 14px;
      letter-spacing: 0;
    }
    button {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 18px;
      margin-left: 75px;
      text-transform: uppercase;
    }
  }
  .btn-add {
    border: 1px solid #52B3FF;
    background: white;
    font-size: 14px;
    color: #52B3FF;
    letter-spacing: 0;
  }
}
