.frk-select {
  border: 1px solid $loblolly;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}

.frk-select__placeholder {
  background: white;
  width: 100%;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid $loblolly;
  padding: 0.5556rem;
  position: relative;
  a {
    display: block;
    font-size: 0.8889rem;
    color: #555555;
    letter-spacing: 0;
  }
  i {
    display: block;
    position: absolute;
    right: 0.8333rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.frk-select__list {
  display: none;
  background: $athensGray;
  max-height: 270px;
  overflow-y: auto;
  & > div {
    padding: 10px 15px;
    border-bottom: 1px solid $loblolly;
    cursor: pointer;
    &:last-child { border-bottom: none; }
    &:hover { background: #E2E7EC; }
  }
  p {
    font-size: 0.7778rem;
    color: #555555;
    letter-spacing: 0;
    margin-bottom: 0.5556rem;
  }
  small {
    font-size: 12px;
    line-height: 16px;
    display: block;
  }
}

.frk-select__list--open {
  display: block;
}