.tt-menu {
  background: white;
  border-radius: 4px;
  border: 1px solid #CCC;
  min-width: 200px;
}
.tt-suggestion {
  padding: 0.5556rem;
  font-size: 0.7778rem;
  display: block;
  cursor: pointer;
  &:hover {
    background: #f2f2f2;
  }
}