.footer {
  font-size: 12px;
  color: #1F1F1F;
  padding: 40px 0;
  line-height: 26px; }
  .footer > .container {
    display: flex; }
  .footer h1 {
    flex: 0.5;
    margin: 0;
    padding: 0 0 0 45px;
    font-size: 12px;
    font-weight: bold;
    background: url("../img/un-logo-footer.png") transparent no-repeat left center;
    background-size: 30px 26px; }
  .footer nav {
    flex: 1;
    text-align: right; }
    .footer nav a {
      text-decoration: none;
      color: #1F1F1F;
      margin-left: 20px; }

.header .small {
  background: #F2F2F2;
  line-height: 46px;
  border-bottom: 4px solid #1F3D69; }
  .header .small a {
    color: #4D4D4D;
    font-size: 0.77rem;
    text-decoration: none; }
    .header .small a i {
      margin-right: 6px; }

.header nav {
  height: 200px;
  background: #238DE1; }
  .header nav .container {
    position: relative; }
  .header nav h1 {
    position: relative;
    top: 41px;
    margin: 0;
    padding-left: 60px;
    background: url("../img/un-logo.png") transparent no-repeat left center;
    background-size: 50px 43px;
    font-weight: normal;
    font-size: 1.833rem;
    text-transform: uppercase;
    color: white; }
  .header nav .header__nav {
    position: absolute;
    right: 5px;
    top: 0px;
    list-style: none;
    display: flex; }
    .header nav .header__nav li {
      margin-left: 40px; }
      .header nav .header__nav li a {
        color: white;
        text-decoration: none;
        font-size: 14px; }
        .header nav .header__nav li a i {
          margin-right: 6px; }
    .header nav .header__nav .dropdown {
      position: absolute;
      z-index: 200;
      right: -4px;
      top: 100%;
      margin-top: 10px;
      background: #1F3D69;
      padding: 20px 52px;
      text-align: center; }
      .header nav .header__nav .dropdown a {
        line-height: 36px;
        display: block;
        letter-spacing: 0.47; }
    .header nav .header__nav .dropdown:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(31, 61, 105, 0);
      border-bottom-color: #1F3D69;
      border-width: 5px;
      margin-left: -5px; }
    .header nav .header__nav .dropdown--toggle:hover .dropdown {
      display: block; }

html, body {
  background: #F4F5F8;
  font-size: 18px;
  font-family: "Roboto"; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.content {
  background: #F4F5F8; }

.hidden {
  display: none; }

.home__tabs {
  background: #C7E6FF;
  position: relative;
  z-index: 100; }
  .home__tabs nav {
    position: absolute;
    top: -74px;
    display: flex; }
    .home__tabs nav a {
      background: #1871B7;
      color: white;
      display: block;
      font-weight: bold;
      letter-spacing: 0.32;
      line-height: 74px;
      opacity: 0.5;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 240px;
      -webkit-border-top-right-radius: 20px;
      border-top-right-radius: 20px;
      -webkit-border-top-left-radius: 20px;
      border-top-left-radius: 20px;
      background-clip: padding-box; }
      .home__tabs nav a.active {
        color: #1F3D69;
        background: #C7E6FF;
        opacity: 1; }

.home__wizard {
  padding: 50px 200px; }
  .home__wizard ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
  .home__wizard li {
    flex: 1;
    color: white;
    position: relative;
    text-align: center;
    color: #7696B1;
    font-size: 16px; }
    .home__wizard li span {
      margin: 0 auto 15px;
      display: block;
      width: 52px;
      height: 52px;
      text-align: center;
      line-height: 52px;
      border-radius: 100%;
      color: #7696B1;
      background: #EAF5FF; }
    .home__wizard li.active {
      text-transform: uppercase;
      font-weight: bold;
      color: #203C6C; }
      .home__wizard li.active span {
        color: white;
        background: #203C6C; }
      .home__wizard li.active::before {
        background: #203C6C;
        background: linear-gradient(45deg, #203C6C, #203C6C, #EAF5FF, #EAF5FF); }
  .home__wizard li::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 50%;
    width: 100%;
    height: 4px;
    background: #EAF5FF;
    z-index: -1; }
  .home__wizard li:last-child::before {
    display: none; }

.content__wrapper {
  position: relative;
  z-index: 10;
  background: white;
  min-height: 500px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2); }
