.footer {
  font-size: 12px;
  color: #1F1F1F;
  padding: 40px 0;
  line-height: 26px; }
  .footer > .container {
    display: flex; }
  .footer h1 {
    flex: 0.5;
    margin: 0;
    padding: 0 0 0 45px;
    font-size: 12px;
    font-weight: bold;
    background: url("../img/un-logo-footer.png") transparent no-repeat left center;
    background-size: 30px 26px;
    line-height: 25px; }
  .footer nav {
    flex: 1;
    text-align: right; }
    .footer nav a {
      text-decoration: none;
      color: #1F1F1F;
      margin-left: 20px; }

@media (max-width: 480px) {
  .footer > .container {
    flex-direction: column;
    padding: 0 10px; }
  .footer h1 {
    flex: 1; }
  .footer nav {
    text-align: left; }
    .footer nav a {
      margin: 5px 0 5px 0;
      display: block;
      padding-left: 45px; } }

.header .small {
  background: #F2F2F2;
  line-height: 46px;
  border-bottom: 4px solid #1F3D69; }
  .header .small a {
    color: #4D4D4D;
    font-size: 0.77rem;
    text-decoration: none; }
    .header .small a strong {
      margin-right: 6px; }

.header nav {
  height: 210px;
  background: #238DE1; }
  .header nav .container {
    position: relative; }
  .header nav h2 {
    position: relative;
    top: 51px;
    margin: 0;
    padding-left: 60px;
    background: url("../img/un-logo.png") transparent no-repeat left center;
    background-size: 50px 43px;
    font-weight: normal;
    font-size: 1.833rem;
    text-transform: uppercase;
    color: white; }
    .header nav h2 span.off {
      opacity: .5; }

.header--admin nav {
  height: 145px; }

.header__nav--desktop {
  position: absolute;
  right: 17px;
  top: 10px;
  list-style: none;
  display: flex; }
  .header__nav--desktop li {
    margin-left: 40px; }
    .header__nav--desktop li a {
      color: white;
      text-decoration: none;
      font-size: 14px; }
      .header__nav--desktop li a strong {
        margin-right: 6px; }
  .header__nav--desktop .logout-tooltip {
    display: none;
    position: absolute;
    background: #1F3D69;
    padding: 10px 45px;
    top: 130%;
    left: 50%;
    transform: translateX(-50%); }
  .header__nav--desktop .logout-tooltip:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #1F3D69;
    border-width: 5px;
    margin-left: -5px; }
  .header__nav--desktop .menu-username:focus + .logout-tooltip {
    display: block; }
  .header__nav--desktop .dropdown {
    position: absolute;
    z-index: 200;
    right: -4px;
    top: 100%;
    margin-top: 10px;
    background: #1F3D69;
    padding: 20px 52px;
    text-align: center; }
    .header__nav--desktop .dropdown a {
      line-height: 36px;
      display: block;
      letter-spacing: 0.47; }
  .header__nav--desktop .dropdown:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(31, 61, 105, 0);
    border-bottom-color: #1F3D69;
    border-width: 5px;
    margin-left: -5px; }
  .header__nav--desktop .dropdown--toggle:hover .dropdown {
    display: block; }

.header__nav--mobile {
  position: fixed;
  z-index: 1000;
  top: 110px;
  left: 0;
  width: 100%;
  height: 100%; }
  .header__nav--mobile .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001; }
  .header__nav--mobile .logo {
    position: absolute;
    z-index: 1020;
    bottom: 30px;
    right: 30px; }
  .header__nav--mobile ul {
    position: relative;
    z-index: 1010;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px 30px 80px;
    list-style: none;
    color: white;
    position: relative;
    background: #1F3D69; }
    .header__nav--mobile ul li {
      border-bottom: 1px solid #15243A; }
      .header__nav--mobile ul li:last-child {
        border-bottom: none; }
    .header__nav--mobile ul a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      display: block;
      line-height: 50px;
      letter-spacing: 0.5; }
      .header__nav--mobile ul a strong {
        margin-right: 5px; }
    .header__nav--mobile ul .dropdown {
      display: flex;
      padding-left: 20px; }
      .header__nav--mobile ul .dropdown a {
        line-height: 30px;
        opacity: 0.6;
        margin-right: 30px; }
  .header__nav--mobile ul:after {
    bottom: 100%;
    right: 28px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(31, 61, 105, 0);
    border-bottom-color: #1F3D69;
    border-width: 10px;
    margin-left: -10px; }

.header__nav__toggle {
  position: absolute;
  top: 19px;
  right: 19px; }

@media (max-width: 480px) {
  .header .small {
    padding-left: 15px; }
  .header nav {
    height: 200px;
    padding: 0 10px; }
    .header nav h2 {
      top: 65px;
      font-size: 1rem;
      line-height: 2rem;
      padding-left: 50px;
      background-size: 41px 35px; } }

.btn-switch {
  width: 72px;
  height: 28px;
  border-radius: 28px;
  overflow: hidden;
  position: relative;
  background: #DBE6EC; }

.btn-switch:focus,
.btn-switch:active {
  outline: none !important; }

.btn-switch.active {
  background: #203C6C; }

.btn-switch .handle {
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: all 2s ease-out !important; }

.btn-switch .handle:after,
.btn-switch .handle:before {
  font-family: "Roboto";
  font-size: 14px;
  display: block;
  position: absolute;
  top: 2px; }

.btn-switch .handle:after {
  content: "OFF";
  left: 30px; }

.btn-switch .handle:before {
  content: "ON";
  left: -30px; }

.btn-switch.active .handle {
  left: auto;
  right: 2px; }

.btn-switch.active .handle:before {
  color: white; }

.file-upload input[type=file] {
  display: none; }

.file-upload .list h2 {
  color: #1F1F1F;
  font-family: "Roboto";
  font-size: 16px;
  letter-spacing: 0.3px; }

.file-upload .list b {
  color: #0168E7;
  font-size: 14px;
  letter-spacing: 0; }

.file-upload .list button {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 75px;
  text-transform: uppercase; }

.file-upload .btn-add {
  border: 1px solid #52B3FF;
  background: white;
  font-size: 14px;
  color: #52B3FF;
  letter-spacing: 0; }

.tt-menu {
  background: white;
  border-radius: 4px;
  border: 1px solid #CCC;
  min-width: 200px; }

.tt-suggestion {
  padding: 10px;
  font-size: 14px;
  display: block;
  cursor: pointer; }
  .tt-suggestion:hover {
    background: #f2f2f2; }

.frk-select {
  border: 1px solid #C3CFD6;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); }

.frk-select__placeholder {
  background: white;
  width: 100%;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #C3CFD6;
  padding: 10px;
  position: relative; }
  .frk-select__placeholder a {
    display: block;
    font-size: 16px;
    color: #555555;
    letter-spacing: 0; }
  .frk-select__placeholder i {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); }

.frk-select__list {
  display: none;
  background: #F7F8FA;
  max-height: 270px;
  overflow-y: auto; }
  .frk-select__list > div {
    padding: 10px 15px;
    border-bottom: 1px solid #C3CFD6;
    cursor: pointer; }
    .frk-select__list > div:last-child {
      border-bottom: none; }
    .frk-select__list > div:hover {
      background: #E2E7EC; }
  .frk-select__list p {
    font-size: 14px;
    color: #555555;
    letter-spacing: 0;
    margin-bottom: 10px; }
  .frk-select__list small {
    font-size: 12px;
    line-height: 16px;
    display: block; }

.frk-select__list--open {
  display: block; }

html, body {
  background: #F4F5F8;
  font-size: 18px;
  font-family: "Roboto"; }

.content {
  background: #F4F5F8; }

.relative {
  position: relative !important; }

.hidden {
  display: none !important; }

@media (min-width: 481px) {
  .mobile {
    display: none !important; } }

@media (max-width: 480px) {
  .desktop {
    display: none !important; }
  .content > .container {
    padding: 0; } }

.datepicker {
  width: auto;
  max-width: 154px; }

.form-control.timepicker {
  width: 80px !important; }

.custom-control-description {
  display: inline-block;
  margin-top: 3px; }

.form-control + .input-group-addon {
  background: white; }

.form-error label span {
  color: #FF7749; }

.form-error .form-control {
  background: #FFF7F5 !important;
  border: 1px solid #FF7749 !important; }

.with-vertical-margin {
  margin: 10px 0; }

.orange {
  color: #FF7749 !important; }

.green {
  color: #50A45F; }

small.orange.form-text {
  font-size: 12px !important; }

.cian {
  background: #F0F8FF; }

.m-bottom-20 {
  margin-bottom: 20px; }

[data-toggle="tooltip"] {
  color: #52B3FF; }

.twitter-typeahead {
  width: 100%; }

.badges {
  text-transform: uppercase; }

.badge-required {
  background: #CC7D27; }

.badge-costs {
  border: 1px solid #6880A9;
  color: #6880A9;
  font-weight: normal; }

.badge-primary-outline {
  padding: 5px;
  text-transform: uppercase;
  background: white;
  color: #203C6C;
  letter-spacing: 0;
  margin-left: 10px;
  border: 1px solid #203C6C; }

.form-group select {
  font-size: 16px !important;
  color: #555555 !important;
  letter-spacing: 0 !important;
  background: #FFFFFF !important;
  border: 1px solid #C3CFD6 !important;
  border-radius: 4px !important; }

form.horizontal {
  padding-bottom: 30px; }
  form.horizontal header h4 {
    font-weight: bold;
    font-size: 16px;
    color: #1F1F1F;
    letter-spacing: 0.3px; }
  form.horizontal label {
    font-size: 14px;
    color: #555555; }
  form.horizontal textarea,
  form.horizontal input[type=text] {
    font-size: 14px; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.request__form {
  padding: 40px; }
  .request__form h1 {
    margin: 0 0 20px;
    color: #CC7D27;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; }
    .request__form h1 i {
      margin-right: 5px; }
  .request__form h4 {
    color: #1F1F1F;
    display: block;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin: 0 0 20px; }

.request__form__input,
.form-group {
  margin-bottom: 20px; }
  .request__form__input > label,
  .form-group > label {
    color: #1F1F1F;
    display: block;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-bottom: 10px; }
    .request__form__input > label span.orange,
    .form-group > label span.orange {
      color: #FF7749; }
  .request__form__input input[type=text],
  .request__form__input textarea,
  .request__form__input select,
  .form-group input[type=text],
  .form-group textarea,
  .form-group select {
    background: #F7F8FA;
    border-radius: 4px;
    border: 1px solid #C3CFD6;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 11px 10px; }
  .request__form__input .form-control + .custom-controls,
  .form-group .form-control + .custom-controls {
    margin-top: 5px; }
    .request__form__input .form-control + .custom-controls .custom-control-description,
    .form-group .form-control + .custom-controls .custom-control-description {
      display: inline-block;
      margin-top: 3px; }
  .request__form__input small,
  .form-group small {
    font-size: 12px;
    color: #555555;
    letter-spacing: 0; }

.request__form__tabs {
  border: 2px solid #E7EBEE;
  border-radius: 4px;
  margin: 60px 0 30px; }
  .request__form__tabs nav {
    position: relative;
    top: -41px;
    left: -2px; }
    .request__form__tabs nav a {
      display: inline-block;
      border: 2px solid #E7EBEE;
      border-radius: 4px;
      width: 61px;
      line-height: 37px;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      color: #797C80;
      letter-spacing: 0.2px;
      background: #E8EBF0; }
      .request__form__tabs nav a.active {
        background: white;
        border-bottom: 2px solid white;
        opacity: 1; }
  .request__form__tabs > div {
    padding: 20px;
    margin-top: -50px; }

.request__form__div {
  height: 6px;
  background: #C3CFD6;
  margin: 20px -20px 40px; }

.custom-radio,
.custom-checkbox {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin: 3px 10px 0 0; }

@media (max-width: 480px) {
  .request__form {
    padding: 20px; }
    .request__form h1 {
      font-size: 14px; }
    .request__form h4 {
      font-size: 14px; }
  .request__form__div {
    margin: 0px -20px 20px; } }

.timeblock {
  border: 1px solid #C3CFD6;
  border-radius: 4px;
  padding: 5px 20px; }
  .timeblock header {
    padding: 0 20px 10px;
    margin: 0 -20px 10px;
    border-bottom: 1px solid #C3CFD6; }

.room-size {
  border: 1px solid #C3CFD6;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  min-height: 80px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around; }
  .room-size p {
    font-size: 14px;
    letter-spacing: 0.26px;
    color: #555;
    margin: 0; }
  .room-size:hover {
    background: #F0F8FF;
    border: 2px solid #52B3FF; }
  .room-size.active {
    background: #52B3FF;
    color: white; }
    .room-size.active p {
      color: white; }

.content-off {
  margin: 10px -40px 0;
  padding: 40px; }

.checkbox-list {
  margin-bottom: 20px; }
  .checkbox-list label {
    display: inline-block;
    width: 18%; }

@media (max-width: 480px) {
  .timeblock {
    margin-bottom: 20px; }
  small {
    font-size: 10px !important; }
  .room-size {
    margin-bottom: 10px; }
    .room-size span, .room-size p {
      font-size: 14px;
      line-height: 19px; }
  .checkbox-list {
    margin-bottom: 20px; }
    .checkbox-list label {
      display: block;
      width: 100%; } }

.request__services__confirmation h1.orange {
  font-weight: bold;
  font-size: 18px;
  color: #FF7749;
  letter-spacing: 0.32px; }

.request__services__confirmation .list-actions {
  text-align: right; }
  .request__services__confirmation .list-actions .btn-outline-primary,
  .request__services__confirmation .list-actions .btn-primary {
    font-size: 16px;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 15px 20px; }

.request__services__confirmation .btn-primary {
  border-color: #52B3FF;
  background: #52B3FF; }

.request__services__confirmation .btn-outline-primary {
  border-color: #52B3FF;
  color: #52B3FF; }

.request__services__confirmation .list-headers {
  border-top: 3px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  font-size: 16px;
  color: #555555;
  letter-spacing: 0.3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px; }

.request__services__confirmation .list-item {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 10px;
  margin-bottom: 30px; }
  .request__services__confirmation .list-item h2 {
    font-size: 18px;
    color: #1F1F1F;
    letter-spacing: 0.34px; }
  .request__services__confirmation .list-item p {
    font-size: 14px;
    color: #1F1F1F;
    letter-spacing: 0.26px; }
  .request__services__confirmation .list-item .badge {
    background: #CC7D27;
    text-transform: uppercase;
    padding: 5px;
    display: inline-block; }
  .request__services__confirmation .list-item .list-item-actions .btn {
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }

@media (max-width: 480px) {
  .request__services__confirmation h1.orange {
    font-size: 14px;
    border-bottom: 3px solid #D5D5D5;
    padding-bottom: 20px; }
  .request__services__confirmation h4 {
    font-size: 16px;
    color: #555555;
    letter-spacing: 0.3px; }
  .request__services__confirmation .list-item h2 {
    font-size: 16px;
    font-weight: bold; }
  .request__services__confirmation .list-item .list-item-actions .btn {
    width: auto;
    margin-bottom: 10px; }
  .request__services__confirmation .list-actions {
    text-align: center; }
    .request__services__confirmation .list-actions .btn {
      font-size: 14px;
      padding: 15px; } }

.request__form--review-submit {
  font-size: 16px; }
  .request__form--review-submit h4 {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase; }
  .request__form--review-submit .room-reservation-info {
    margin-bottom: 30px; }
  .request__form--review-submit .table-striped {
    border-top: 3px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5; }

.myrequests__button {
  font-size: 14px;
  color: #203C6C;
  letter-spacing: 0;
  line-height: 18px;
  border-color: #203C6C;
  text-transform: uppercase; }

.myrequests .content__wrapper {
  padding: 40px; }

.myrequests .current-page {
  font-size: 14px;
  color: #555555;
  letter-spacing: 0;
  line-height: 39px;
  margin: 0; }

.myrequests .form-search-icon .form-control {
  border-right: none; }

.myrequests .form-search-icon .input-group-addon {
  background: #F7F8FA; }

.myrequests__filter {
  padding: 30px 30px 20px; }

.meetings-list__item {
  background: #F7F7F7;
  border: 1px solid #C3CFD6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px; }
  .meetings-list__item header {
    background: white;
    border-bottom: 1px solid #C3CFD6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 0 0;
    padding: 15px; }
  .meetings-list__item > header h1 {
    font-weight: bold;
    font-size: 20px;
    color: #203C6C;
    letter-spacing: 0.38px;
    margin: 0; }
  .meetings-list__item > header .request-no {
    text-align: right;
    font-size: 16px;
    color: #555555;
    letter-spacing: 0.3px; }
  .meetings-list__item > div {
    padding: 20px; }
    .meetings-list__item > div h2 {
      font-size: 16px;
      color: #1F1F1F;
      letter-spacing: 0.3px; }
      .meetings-list__item > div h2 .badge {
        padding: 5px;
        text-transform: uppercase;
        background: white;
        color: #203C6C;
        letter-spacing: 0;
        margin-left: 10px;
        border: 1px solid #203C6C; }
  .meetings-list__item .list-item__room {
    border-radius: 4px;
    border: 1px solid #C3CFD6;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); }
    .meetings-list__item .list-item__room header {
      padding: 10px; }
      .meetings-list__item .list-item__room header h3 {
        font-family: Roboto-Medium;
        font-size: 16px;
        color: #1F1F1F;
        letter-spacing: 0.3px;
        margin: 0;
        line-height: 38px; }
      .meetings-list__item .list-item__room header button {
        float: right; }
    .meetings-list__item .list-item__room .content {
      padding: 15px;
      background: white;
      font-size: 16px; }

@media (max-width: 480px) {
  .myrequests__filter {
    padding: 20px 10px 20px; }
    .myrequests__filter .datepicker {
      max-width: 100% !important; }
  .myrequests .content__wrapper {
    padding: 10px; }
  .myrequests .myrequests__buttons {
    text-align: center !important;
    display: flex; }
    .myrequests .myrequests__buttons button {
      margin: 0 5px;
      width: calc(25% - 10px); }
      .myrequests .myrequests__buttons button:first-child {
        width: calc(25% - 5px);
        margin-left: 0; }
      .myrequests .myrequests__buttons button:last-child {
        width: calc(25% - 5px);
        margin-right: 0; }
  .meetings-list__item > header h1 {
    font-size: 14px;
    margin-bottom: 10px; }
  .meetings-list__item > header .request-no {
    text-align: left;
    font-size: 14px; }
  .meetings-list__item > div {
    padding: 10px; }
    .meetings-list__item > div h2 {
      font-size: 14px;
      display: block;
      margin: 10px 0 20px; }
  .meetings-list__item .list-item__room {
    margin-top: 10px; }
    .meetings-list__item .list-item__room header h3 {
      font-size: 14px;
      margin-left: 5px; }
    .meetings-list__item .list-item__room .content {
      font-size: 14px; }
  .meetings-list {
    margin-bottom: 50px; } }

.my-request__service-actions {
  position: absolute;
  right: 50px;
  top: 0;
  height: 46px;
  display: flex;
  align-items: center; }
  .my-request__service-actions .comments {
    color: #203C6C;
    font-size: 22px;
    margin: 0px 22px 0 0;
    display: inline-block;
    height: 22px; }
    .my-request__service-actions .comments i {
      display: block; }
  .my-request__service-actions .btn-outline-primary {
    border-color: #203C6C;
    color: #203C6C;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    padding: 5px 10px;
    text-transform: uppercase;
    display: inline-block;
    height: 30px; }

.na-confirmation {
  text-align: center;
  padding: 50px 0; }
  .na-confirmation h1 {
    color: #1F1F1F;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.32px;
    text-transform: uppercase; }
  .na-confirmation h2 {
    background: #E3F2FF;
    color: #203C6C;
    display: inline-block;
    font-size: 48px;
    letter-spacing: 0;
    margin: 20px 0;
    padding: 5px 20px;
    text-transform: uppercase; }
  .na-confirmation p {
    font-size: 14px;
    color: #1F1F1F;
    letter-spacing: 0.26px; }
    .na-confirmation p a {
      font-weight: bold; }

.na-modal {
  display: block !important;
  position: relative !important; }
  .na-modal .modal-content {
    background: #F4F5F8;
    border: 1px solid #D9DADF;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.03);
    border-radius: 4px; }
  .na-modal .modal-header,
  .na-modal .modal-footer {
    border: none; }
  .na-modal .modal-title {
    font-weight: bold; }
  .na-modal .modal-content,
  .na-modal .modal-title {
    font-size: 14px;
    color: #1F1F1F;
    letter-spacing: 0;
    line-height: 21px; }
  .na-modal .btn {
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase; }
    .na-modal .btn.btn-outline-secondary {
      border-color: #52B3FF;
      color: #52B3FF; }
    .na-modal .btn.btn-primary {
      border-color: #52B3FF;
      background-color: #52B3FF; }

.na-alert {
  z-index: 100;
  position: absolute;
  right: 20px;
  padding: 20px 44px;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  max-width: 290px;
  top: 200px; }
  .na-alert p {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0; }
    .na-alert p a {
      font-weight: bold;
      text-decoration: underline; }
  .na-alert a.close {
    position: absolute;
    font-size: 14px;
    top: 10px;
    right: 10px; }
  .na-alert > .fa {
    position: absolute;
    top: 22px;
    left: 15px; }

.na-alert-success {
  color: white;
  background: #5DAF70; }

.na-alert-warning {
  top: 300px;
  background: #FFE749;
  color: #1F1F1F; }
  .na-alert-warning a {
    color: #1F1F1F; }

.contacts .content__wrapper {
  padding: 40px; }

.contacts h1 {
  color: #CC7D27;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase; }
  .contacts h1 i {
    margin-right: 10px; }

.contacts__list {
  color: #555555;
  font-size: 16px;
  letter-spacing: 0;
  margin-top: 30px;
  width: 100%; }
  .contacts__list th {
    border-top: none; }

.contacts__detail {
  font-size: 14px; }
  .contacts__detail .fa-envelope {
    margin-right: 5px; }

.contacts__phone {
  position: relative; }
  .contacts__phone i {
    display: block;
    position: absolute;
    left: -2px;
    top: 4px; }

@media (max-width: 480px) {
  .contacts .content__wrapper {
    padding: 30px 10px 10px; }
  .contacts h1 {
    font-size: 14px; }
  .contacts__list {
    font-size: 14px;
    margin-top: 10px; }
  .contacts__phone {
    margin-top: 10px;
    position: relative; }
    .contacts__phone p {
      padding-left: 20px; }
    .contacts__phone i {
      left: 15px; } }

.toggle-area {
  background: white;
  border: 1px solid #C3CFD6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 10px; }
  .toggle-area header {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #C3CFD6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
    .toggle-area header h2 {
      color: #1F1F1F;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      letter-spacing: 0.3px;
      margin-left: 20px; }
    .toggle-area header a[data-elm="toggle"] {
      color: #1F1F1F;
      display: block;
      position: absolute;
      right: 20px;
      top: 11px;
      font-size: 14px; }
  .toggle-area section {
    padding: 10px; }
  .toggle-area .file-upload {
    margin-top: 30px; }
  .toggle-area .badges {
    position: absolute;
    top: 10px;
    right: 50px; }

.toggle-area--blue > header h2 {
  color: #203C6C;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.38px;
  margin: 0 0 0 5px;
  text-transform: uppercase; }

.toggle-area--blue > section {
  padding: 20px;
  background: #F7F7F7; }

.toggle-area--no-icon > header h2 {
  margin: 0 0 0 5px; }

.toggle-area--no-icon > header a {
  top: 11px; }

.toggle-area--switch > header a {
  top: 15px !important; }

.request__tabs {
  background: #C7E6FF;
  position: relative;
  z-index: 100; }
  .request__tabs nav {
    position: absolute;
    top: -74px;
    display: flex; }
    .request__tabs nav a {
      background: #1871B7;
      color: white;
      display: block;
      font-weight: bold;
      letter-spacing: 0.32;
      line-height: 74px;
      opacity: 0.5;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 240px;
      -webkit-border-top-right-radius: 20px;
      border-top-right-radius: 20px;
      -webkit-border-top-left-radius: 20px;
      border-top-left-radius: 20px;
      background-clip: padding-box; }
      .request__tabs nav a.active {
        color: #1F3D69;
        background: #C7E6FF;
        opacity: 1; }

.request__wizard {
  padding: 50px 120px; }
  .request__wizard ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
  .request__wizard li {
    flex: 1;
    color: white;
    position: relative;
    text-align: center;
    color: #7696B1;
    font-size: 16px; }
    .request__wizard li span {
      margin: 0 auto 15px;
      display: block;
      width: 52px;
      height: 52px;
      text-align: center;
      line-height: 52px;
      border-radius: 100%;
      color: #7696B1;
      background: #EAF5FF; }
    .request__wizard li.active, .request__wizard li.done {
      text-transform: uppercase;
      font-weight: bold;
      color: #203C6C; }
      .request__wizard li.active span, .request__wizard li.done span {
        color: white;
        background: #203C6C; }
      .request__wizard li.active::before, .request__wizard li.done::before {
        background: #203C6C; }
    .request__wizard li.active::before {
      background: linear-gradient(45deg, #203C6C, #203C6C, #EAF5FF, #EAF5FF); }
  .request__wizard li::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 50%;
    width: 100%;
    height: 4px;
    background: #EAF5FF;
    z-index: -1; }
  .request__wizard li:last-child::before {
    display: none; }

.content__wrapper {
  background: white;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10; }

.request__go-next {
  display: inline-block;
  margin: 0 auto;
  padding: 15px 30px;
  background: #52B3FF;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px; }
  .request__go-next:hover {
    background: #40A2EF; }
  .request__go-next.outline {
    border: 1px solid #52B3FF;
    background: white;
    color: #52B3FF; }
  .request__go-next.right {
    float: right;
    margin-left: 20px; }

.request__footer__buttons {
  max-width: 560px;
  margin: 0 auto; }
  .request__footer__buttons button {
    margin: 0 10px; }

.request__footer {
  padding-bottom: 50px; }

.request__wizard__check {
  position: absolute;
  display: block;
  left: calc(50% + 10px);
  top: -10px;
  width: 26px;
  height: 27px; }

@media (max-width: 480px) {
  .request__tabs nav {
    width: 100%;
    top: -54px; }
    .request__tabs nav a {
      font-size: 14px;
      width: 50%;
      line-height: 54px; }
  .request__wizard {
    padding: 20px 0px; }
    .request__wizard li {
      font-size: 12px; }
  .toggle-area header {
    padding-left: 80px; }
    .toggle-area header .btn-switch {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%); }
    .toggle-area header.with-badge {
      padding-bottom: 35px; }
      .toggle-area header.with-badge .btn-switch {
        top: 24px; }
    .toggle-area header h2 {
      font-size: 14px;
      margin: 0 0 0 15px;
      max-width: calc(100% - 120px); }
  .toggle-area .badges {
    bottom: 10px;
    top: auto;
    right: auto; }
  .toggle-area--no-icon header,
  .toggle-area--blue header {
    padding: 10px; }
    .toggle-area--no-icon header h2,
    .toggle-area--blue header h2 {
      margin: 0 0 0 5px; } }
